# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build directory
/build/
/build-*/
/docs/

# xmake artifacts
/.xmake/
/xmake.log
/xmake_build.log

# local workspace files
/.vscode/
/.idea/
/cmake-build-*/
/install-*/
/out/
